<!-- <html>
<head>
<script src ="../static/jquery.js"></script>
</head>
<body>

    <div class="container"> 
        
</div>

</body>
</html> -->
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Oxygen Forms | Free Powerful Data Collection Website</title>
        <meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../static/images/favicon.ico">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="../static/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Plugins -->
        <link href="../static/css/animations.css" rel="stylesheet">

        <!-- Worthy core CSS file -->
        <link href="../static/css/style.css" rel="stylesheet">

        <!-- Custom css --> 
        <link href="../static/css/custom.css" rel="stylesheet">
    </head>

    <body class="no-trans">
        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

        <!-- header start -->
        <!-- ================ --> 
        <header class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">

                            <!-- logo -->
                            <div class="logo smooth-scroll">
                                <a href="#banner"><img id="logo" src="../static/images/oxygen1.png" style="height:70px" alt="Worthy"></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-name-and-slogan smooth-scroll">
                                <div class="site-name"><a href="#banner">Oxygen Forms</a></div>
                                <div class="site-slogan">Free and Powerful Data Collection</div>
                            </div>

                        </div>
                        <!-- header-left end -->

                    </div>
                    <div class="col-md-8">

                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">

                            <!-- main-navigation start -->
                            <!-- ================ -->
                            <div class="main-navigation animated">

                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">

                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="/home">Home</a></li>
                                                <li class="active"><a href="/design">Design</a></li>   
                                                <li><a href="/logout">Logout</a></li>   
                                            </ul>
                                        </div>

                                    </div>
                                </nav>
                                <!-- navbar end -->

                            </div>
                            <!-- main-navigation end -->

                        </div>
                        <!-- header-right end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        <!-- banner start -->
        <!-- ================ -->
        <div id="banner" class="banner">
            <div class="banner-image"></div>
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                            <h1 class="text-center">Design Something for us <span>{{name}}</span></h1>
                            <p class="lead text-center">Get started by clicking on the various buttons to start designing your form. Don't forget to give a description and a password as it will help you in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        <div class="default-bg space">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center">Let the Designing Begin!</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- section end -->

        <!-- footer start -->
        <!-- ================ -->
        <footer id="footer">

            <!-- .footer start -->
            <!-- ================ -->
            <div class="footer section">
                <div class="container">
                {%if res==102%}
                    <h2 style="color:red">Please try again</h2>
                {%elif res==100%}
                    <h2 style="color:green">Form Created</h2>
                {%endif%}
                <div class="add panels">
                <div class="jumbotron add-form-box">
                    <div class="add-form-meta">
                        <label for="eventname">Form Name</label>
                        <input name="eventname" class="add-form-meta-eventname form-control" > <br>
                        <label for="eventpasskey">Form Password</label>
                        <input name="eventpasskey" class="add-form-meta-eventpasskey form-control" >
                        <label for="eventdesc">Form Description</label>
                        <input name="eventdesc" class="add-form-meta-eventdesc form-control" >
                    </div>
                    <br>
                    <div class="add-form-fields">
                        <div class="add-form-options">
                            <div class="add-form-option add-form-option-textbox btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Textbox
                            </div>
                            <div class="add-form-option add-form-option-checkbox btn btn-default">
                                <i class="glyphicon glyphicon-plus"></i> Checkbox
                            </div>
                            <div class="add-form-option add-form-option-radiobutton btn btn-default">
                                <i class="glyphicon glyphicon-plus"></i> Radio Button
                            </div>
                        </div>
                        <div class="add-form-fields-construct">
                        </div>
                    </div>
                </div>
                    <input type="submit" id="send" type="submit" name="submit" class="btn btn-default">
                </div>
                    <form id ="senderform" action='/design' method='POST'>
                        <input type="hidden" id="sender" name= 'sender'>
                    </form>
                    
                </div>
            </div>
            <!-- .footer end -->

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2017 Oxygen Forms by <a target="_blank" href="#">Shivang&Varuni</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster
        ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="../static/plugins/jquery.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

        <!-- Modernizr javascript -->
        <script type="text/javascript" src="../static/plugins/modernizr.js"></script>

        <!-- Isotope javascript -->
        <script type="text/javascript" src="../static/plugins/isotope/isotope.pkgd.min.js"></script>
        
        <!-- Backstretch javascript -->
        <script type="text/javascript" src="../static/plugins/jquery.backstretch.min.js"></script>

        <!-- Appear javascript -->
        <script type="text/javascript" src="../static/plugins/jquery.appear.js"></script>

        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="../static/js/template.js"></script>

        <!-- Custom Scripts -->
        <script type="text/javascript" src="../static/js/custom.js"></script>
        <script>
        $(document).ready(function() {
            $(document).on('click', '.add-form-option-textbox', function() {
                $('.add-form-fields-construct').append('<div class="form-element form-textbox"><span>Textbox</span>&nbsp &nbsp &nbsp<input class="form-control form-textbox-label" placeholder="label"></div>'); 
                });
        $(document).on('click', '.add-form-option-checkbox', function() {
            $('.add-form-fields-construct').append('<div class="form-element form-checkbox"><span>Checkbox</span>&nbsp &nbsp &nbsp<input class="form-control form-checkbox-label" placeholder="label"><input class="form-control form-checkbox-values" placeholder="comma separated values"></div>'); 
            });
        $(document).on('click', '.add-form-option-radiobutton', function() {
             $('.add-form-fields-construct').append('<div class="form-element form-radiobutton"><span>Radio Button</span>&nbsp &nbsp &nbsp<input class="form-control form-radiobutton-label" placeholder="label"><input class="form-control form-radiobutton-values" placeholder="comma separated values"></div>');
        });
        });
        $('#send').click(function()
        {
            var formdata = {
            formname: $('.add-form-meta-eventname').val(),
            formpass: $('.add-form-meta-eventpasskey').val(),
            formdesc: $('.add-form-meta-eventdesc').val(),
            form_data: {
                fields: []
            }
          };
        $('.form-element').each(function(index) {
            var field = {};
            if ($(this).hasClass('form-textbox')) {
                field = {
                    type: 'textbox',
                    label: $(this).children('input').val()
                };
            }
            else if ($(this).hasClass('form-checkbox')) {
                field = {
                    type: 'checkbox',
                    label: $(this).children('input').eq(0).val(),
                    options: $(this).children('input').eq(1).val()
                };
            }
            else if ($(this).hasClass('form-radiobutton')) {
                field = {
                    type: 'radiobutton',
                    label: $(this).children('input').eq(0).val(),
                    options: $(this).children('input').eq(1).val()
                };
            }
            
            formdata.form_data.fields.push(field);
        });
        formdata = JSON.stringify(formdata);
        document.getElementById('sender').value= formdata;
        $("#senderform").submit()
        });
        </script>

    </body>
</html>
